
BeastshopWebParent/BeastshopBackEnd/user-photos/

BeastshopWebParent/category-images/

BeastshopWebParent/brand-logos/

BeastshopWebParent/product-images/

BeastshopWebParent/BeastshopFrontEnd/src/main/resources/static/images/

BeastshopWebParent/site-logo/
