<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments::page_head('Home-Beast shop Admin')"></head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation::menu"></div>
		<div>
			<h2>Beastshop Control panel</h2>
			Welcome <a sec:authentication="principal.fullName"
				th:href="@{/account}"></a>&nbsp;
				<span sec:authentication="principal.authorities"></span>
			

			<div th:replace="fragments::footer"></div>
		</div>
</body>
</html>